$blue-color: #42a7fe;
$green-color: #00c899;
$primary: #fa4c53;
$secondary: #291667;
$text-color: #291667;
$gradient: linear-gradient(to right, $primary, $secondary);

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin flexbox($align: flex-start, $justify: flex-start, $flex-direction: row, $wrap: nowrap) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $flex-direction;
    flex-wrap: $wrap;
}

@mixin maxWidth($value) {
    @media screen and (max-width: $value) {
        @content;
    }
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    background-color: #f3f3f3;
    padding: 2rem;
}

input,
textarea,
button,
select {
    outline: none;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;

}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

body {
    background-color: #eee;
    padding: 5rem;
}

.signup {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px 5px rgba($color: #000000, $alpha: .1);
    padding: 5rem;
    display: flex;
    justify-content: space-between;

    &__content,
    &__image {
        width: calc(50% - 4rem);

    }

    &__image img {
        @include size(100%);
        object-fit: cover;

    }

    &__heading {
        font-weight: bold;
        font-size: 4.5rem;
        color: $text-color;
        margin-bottom: 3rem;
    }

    &__caption {
        color: $primary;
        font-weight: bold;
        margin-bottom: 4.5rem;
        position: relative;
        padding-left: 12rem;

        &::before {
            content: '';
            position: absolute;
            background-color: $primary;
            @include size(10rem, 0.2rem);

            // border: 1px solid $primary;
            left: 0;
            top: 50%;
            // transform: translateY(-50%);
            margin-top: -1px;

        }
    }

    &-social {
        @include flexbox(stretch, space-between);
        margin-bottom: 6rem;

        &__item {
            border: 1px solid;
            padding: 1.5rem 2.5rem;
            border-radius: 8px;
            cursor: pointer;
            @include flexbox(center, center);
            color: $text-color;
            width: calc(50% - 1.5rem);
        }

        &__icon {
            margin-right: 2.5rem;
        }
    }

    &-form {
        &__label {
            color: $text-color;
            display: inline-block;
            margin-bottom: 1rem;
            transform: translateX(1rem);
            cursor: pointer;

        }

        &__input {
            background-color: #fafbff;
            padding: 1.5rem 2.5rem;
            border: 1px solid #eee;
            border-radius: 8px;
            display: block;
            outline: none;
            width: 100%;
            &:focus{
                background-color: white;
                border-color: $primary;
                transition: all 0.25s linear;
                box-shadow: 0 0 5px  $primary;
                & + .signup-form__check{
                    background-color: $primary;
                    color: white;
                    transition: all 0.25s linear;
                }
            }
        }

        &__row {
            @include flexbox(stretch, space-between);
            margin-bottom: 3rem;

            .signup-form__group {
                width: calc(50% - 1.5rem);
            }
        }

        &__term {
            input {
                display: none;

                &:checked+label::before {
                    background-color: $primary;
                   border-color: $primary;
                }
                &:checked+label::after{
                    opacity: 1;
                    visibility: visible;
                   }

            }

            label {
                position: relative;
                display: inline-block;
                margin-top: 3rem;
                padding-left: 3.5rem;
                cursor: pointer;
                margin-bottom: 5rem;
                &::before {
                    content: '';
                    position: absolute;
                    @include size(2rem);
                    border-radius: 4px;
                    background-color: #eee;
                    border: 1px solid #ccc;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    transition:  0.25s linear;
                }

                &::after {
                    content: '';
                    position: absolute;
                    @include size(0.8rem, 1.2rem);
                    z-index: 2;
                    top: -1px;
                    left: 5.5px;
                    transform: rotate(45deg);
                    border-bottom: 3px solid white;
                    border-right: 3px solid white;
                    opacity: 0;
                    visibility: hidden;
                    transition:  0.25s linear;

                }

            }
        }
        &__submit{
            @include size(8rem);
            border-radius: 3rem;
            color: white;
            background-color: $primary;
            @include flexbox(center,center);
            border: none;
            font-size: 2rem;
            cursor: pointer;
            margin-bottom: 6.5rem;
            box-shadow: 0 5px 10px 0 rgba($primary, $alpha: 0.5);
        }
        &__validate{
            position: relative;
            .signup-form__input{
                padding-right: 6rem;
            }
        }
        &__check{
            @include size(3rem);
            border-radius: 8px;
            background-color: #eee;
            color: $gradient;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 2rem;
            top:50%;
            transform: translateY(-50%);
        }

    }
}






.checkbox {

    &__input {
        display: none;

        &:checked+.checkbox__label::after {
            opacity: 1;
            visibility: visible;
        }
    }

    &__label {
        position: relative;
        padding-left: 5rem;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            @include size(4rem);
            background-color: #d83232;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 1rem;

        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0.9rem;
            z-index: 2;
            transform: rotate(-45deg);

            @include size(2rem, 1rem);
            border-left: 3px solid white;
            border-bottom: 3px solid white;
            opacity: 0;
            visibility: hidden;
            transition: 0.25s linear;
        }

    }
}

.radio {
    margin: 5rem;

    &__input {
        display: none;

        &:checked+.radio__label::before {
            background-color: #d83232;
            // border: 2px solid #b7c1cb;
            // box-shadow: 0 0 0 5px #fff, 0 0 0 7px #d83232;
            box-shadow: 0 0 0 5px #eee, 0 0 0 7px #d83232;
        }
    }

    &__label {

        position: relative;
        padding-left: 5rem;
        cursor: pointer;

        &::before {
            content: '';
            @include size(2.5rem);
            border-radius: 3rem;
            background-color: #eee;
            // border: 2px solid #b7c1cb;
            // box-shadow: 0 0 0 5px #fff, 0 0 0 7px #d83232;
            box-shadow: 0 0 0 5px #eee, 0 0 0 7px #b7c1cb;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.2s ease;
        }
    }

}

.file {
    @include size(10rem);
    background-color: #8a4646;
    border-radius: 10px;
    position: relative;
    border: 1px solid #d83232;
    color: white;
    margin-bottom: 5rem;

    &__input {
        display: none;

    }

    &__label {
        position: absolute;
        @include flexbox(center, center);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
    }
}

.checkbox2 {
    &__input {
        display: none;

        &:checked+.checkbox2__label {
            background-color: #0826a8;

            .checkbox2__spin {
                transform: translateX(5rem);
            }
        }

    }

    &__label {
        display: inline-block;
        @include size(10rem, 5rem);
        background-color: #857b7b;
        border-radius: 5rem;
        cursor: pointer;
        // position: relative;
        padding: 5px;
        transition: 0.25s linear
    }

    &__spin {
        @include size(4rem);
        background-color: #fff;
        border-radius: 4rem;
        // position: absolute;
        // left: 2px;
        // top: 50%;
        // transform: translateY(-50%);
        // transform: translateX(5rem);
        transition: 0.25s linear
    }
}

.input-style {
    padding: 2rem;
    font-size: 1.6rem;
    border-radius: 1rem;
    outline: none;
    border: 1px solid #857b7b;
    color: black;
    transition: all 0.2s linear;

    &::-webkit-input-placeholder {
        color: gray;
    }

    &:focus {
        border-color: orangered;
        box-shadow: 0 0 0 3px rgb(231, 142, 110);
    }
}

.button-style {
    padding: 2rem;
    font-size: 1.6rem;
    width: 20rem;
    border-radius: 1rem;
    background-color: #fc556f;
    border: transparent;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s linear;
    box-shadow: 0 5px black;

    &:hover {
        background-color: #f1324f;
        color: white;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: 0 1px black;
    }

}




// mobile 320 480 768 1024 1366 1440 1600 1920 (min-width)
//desktop (max-width)

// @media screen and (min-width: 1024px) {}

//mobile
// @media screen and (max-width: 1023px) {}

//desktop 